<h1><%= @user.name %></h1>

<!-- # User info
# Edit Profile button
# If businesses - List of associated businesses
# If no businesses - Looks like you have no businesses message
# Add a new business link -->

<%= @user.email %><br />

<%= link_to "Edit your username/password", edit_user_registration_path %><br /><br />

<% if @user.businesses.any? %>
  <%= user.businesses.each do |business| %>
    <%= render partial: "business_info", locals: {business: business} %>
  <% end %>
<% else %>
  Looks like you haven't added any businesses yet.
<% end %><br />

<%= link_to "Add a business", new_business_path %><br />
